body {
	background-color: #17181f;
	color: #ddd;
	margin: 0;
	font-family: Arial, sans-serif;
}

* {
	box-sizing: border-box;
}

main {
	max-width: 400px;
	margin: 20px auto;
	padding: 10px;
}

form {
	border: 3px solid #30313d;
	border-radius: 10px;
	padding: 10px;
	display: flex;
	width: 100%;
	flex-direction: row; /* Mengatur tampilan form menjadi baris */
	align-items: center; /* Pusatkan elemen secara vertikal */
}

form input[type="text"] {
	background: #30313d;
	border: 2px solid #30313d;
	border-radius: 5px;
	padding: 8px;
	color: white;
	width: 100%;
	margin-right: 10px; /* Tambahkan jarak antara input dan tombol */
}

form button {
	background-color: #61dafb;
	border: 0;
	border-radius: 6px;
	cursor: pointer;
	color: white;
	padding: 8px 12px;
	order: -1; /* Menggeser tombol ke atas (ke kiri) */
}

div.task {
	background-color: #30313d;
	border-radius: 10px;
	padding: 10px 9px;
	margin-top: 10px;
	display: flex;
	align-items: center;
	transition: opacity 0.3s linear;
}

div.task svg {
	height: 20px;
	margin-right: 6px;
	fill: #61dafb;
}
div.checkbox.checked {
	background-color: rgb(128, 193, 243);
}
div.checkbox.checked svg path {
	fill: white;
}
div.checkbox.checked + span {
	text-decoration: line-through;
}
div.task.done {
	opacity: 0.3;
}
div.task span {
	position: relative;
}
div.task span:before {
	content: "";
	display: block;
	width: 0;
	height: 2px;
	background-color: #ddd;
	position: absolute;
	top: 10px;
	transition: width 0.3s linear;
}

div.task.done span:before {
	width: 100%;
}
h1,
h2 {
	text-align: center;
}
div.checkbox {
	display: flex;
	align-items: center;
}
div.task-name,
div.task form {
	flex-grow: 1;
}

button.trash {
	background: none;
	border: none;
	display: flex;
	cursor: pointer;
}
button.trash svg {
	fill: #888;
	height: 14px;
}

div.task input {
	border: 2px solid #555;
	border-radius: 5px;
	padding: 2px 4px;
}
